@charset "utf-8";

/* ----------------------------------------
 * Create by 박진우
 * Created : 2021
 --------------------------------------- */
/* ==========================================================================
   Base styles & import
   ========================================================================== */

/* Reset */
html{min-width:320px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,h5,input,button,textarea{font:normal 14px/1 'Noto Sans KR' , sans-serif; color:#222;font-weight:400;}
 body{text-align:left;word-break: break-word;}
html,body {background:#f9f9f9;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{background: none;}
a{color:#222;text-decoration:none;}
a:hover{opacity: 0.6;}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
caption{font-size:0; line-height:0; height:0}
input{background-color:#fff;font-family: 'Noto Sans KR' ,sans-serif;}
input[type=radio] {margin-top:0;}
input[type='text']:focus,input[type='password']:focus {background:#fff;}
input[type='file']{max-width:200px;  }
*{box-sizing: border-box;}
* {-webkit-text-size-adjust:none;}
select {border:1px solid #bcc1c2;font-family: 'Noto Sans KR' ,sans-serif;}
strong{font-weight: 700;}
strong.line {border-bottom:1px solid #353535}
.hidden{overflow:hidden;}
.hide{position:absolute;top:0;right:-1000px;text-indent:-999px;font-size:0}

/*정렬*/
.t_cneter{text-align: center !important;}
.t_left{text-align: left !important;}
.t_right{text-align: right !important;}


/* Mobile Form Default */
select:disabled, textarea:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="date"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="url"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="color"]:disabled {background: #e0e0e0;}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {border:1px solid #e0e0e0; height:36px; line-height:34px; padding:0 10px 0 10px;border-radius: 3px;}
input::-webkit-placeholder{color:#cecece;}
input::-moz-placeholder{color:#cecece;opacity:1}
input::-ms-placeholder{color:#cecece;}
input::placeholder{color:#cecece;}
textarea::placeholder{color:#cecece;}
select{height:36px; line-height:34px; padding-left:5px;padding-right:20px; font-size:13px; border:1px solid #bcc1c2;background:#fff url('../images/common/select_bg.png') no-repeat right 8px center;border-radius: 0px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand {display: none;}
textarea{border:1px solid #dadada;width:100%;min-height:120px;resize: none;line-height:1.2em;margin:0;padding:10px;box-sizing:border-box;}
input[type="radio"]:disabled + label, input[type="checkbox"]:disabled+ label{opacity: 0.5;}
input[type="checkbox"],input[type="radio"]{margin:0;}
/* margin */
.ml0 {margin-left:0px !important;}.ml1 {margin-left:1px !important;}.ml2 {margin-left:2px !important;}.ml3 {margin-left:3px !important;}.ml4 {margin-left:4px !important;}.ml5 {margin-left:5px !important;}.ml10 {margin-left:10px !important;}.ml15 {margin-left:15px !important;}.ml20 {margin-left:20px !important;}.ml25 {margin-left:25px !important;}.ml30 {margin-left:30px !important;}.ml35 {margin-left:35px !important;}.ml40 {margin-left:40px !important;}.ml45 {margin-left:45px !important;}.ml50 {margin-left:50px !important;}.ml60 {margin-left:60px !important;}.ml70 {margin-left:70px !important;}.ml80 {margin-left:80px !important;}.ml90 {margin-left:90px !important;}.ml100 {margin-left:100px !important;}.ml150 {margin-left:150px !important;}.ml200 {margin-left:200px !important;}
.mr0 {margin-right:0px !important;}.mr1 {margin-right:1px !important;}.mr2 {margin-right:2px !important;}.mr3 {margin-right:3px !important;}.mr4 {margin-right:4px !important;}.mr5 {margin-right:5px !important;}.mr10 {margin-right:10px !important;}.mr15 {margin-right:15px !important;}.mr20 {margin-right:20px !important;}.mr25 {margin-right:25px !important;}.mr30 {margin-right:30px !important;}.mr35 {margin-right:35px !important;}.mr40 {margin-right:40px !important;}.mr45 {margin-right:45px !important;}.mr50 {margin-right:50px !important;}.mr60 {margin-right:60px !important;}.mr70 {margin-right:70px !important;}.mr80 {margin-right:80px !important;}.mr90 {margin-right:90px !important;}.mr100 {margin-right:100px !important;}.mr150 {margin-right:150px !important;}.mr200 {margin-right:200px !important;}
.mt0 {margin-top:0px !important;}.mt1 {margin-top:1px !important;}.mt2 {margin-top:2px !important;}.mt3 {margin-top:3px !important;}.mt4 {margin-top:4px !important;}.mt5 {margin-top:5px !important;}.mt10 {margin-top:10px !important;}.mt15 {margin-top:15px !important;}.mt20 {margin-top:20px !important;}.mt25 {margin-top:25px !important;}.mt30 {margin-top:30px !important;}.mt35 {margin-top:35px !important;}.mt40 {margin-top:40px !important;}.mt45 {margin-top:45px !important;}.mt50 {margin-top:50px !important;}.mt60 {margin-top:60px !important;}.mt70 {margin-top:70px !important;}.mt80 {margin-top:80px !important;}.mt90 {margin-top:90px !important;}.mt100 {margin-top:100px !important;}.mt150 {margin-top:150px !important;}.mt200 {margin-top:200px !important;}
.mb0 {margin-bottom:0px !important;}.mb1 {margin-bottom:1px !important;}.mb2 {margin-bottom:2px !important;}.mb3 {margin-bottom:3px !important;}.mb4 {margin-bottom:4px !important;}.mb5 {margin-bottom:5px !important;}.mb10 {margin-bottom:10px !important;}.mb15 {margin-bottom:15px !important;}.mb20 {margin-bottom:20px !important;}.mb25 {margin-bottom:25px !important;}.mb30 {margin-bottom:30px !important;}.mb35 {margin-bottom:35px !important;}.mb40 {margin-bottom:40px !important;}.mb45 {margin-bottom:45px !important;}.mb50 {margin-bottom:50px !important;}.mb60 {margin-bottom:60px !important;}.mb70 {margin-bottom:70px !important;}.mb80 {margin-bottom:80px !important;}.mb90 {margin-bottom:90px !important;}.mb100 {margin-bottom:100px !important;}.mb150 {margin-bottom:150px !important;}.mb200 {margin-bottom:200px !important;}

/* padding */
.pl0 {padding-left:0px !important;}.pl1 {padding-left:1px !important;}.pl2 {padding-left:2px !important;}.pl3 {padding-left:3px !important;}.pl4 {padding-left:4px !important;}.pl5 {padding-left:5px !important;}.pl10 {padding-left:10px !important;}.pl15 {padding-left:15px !important;}.pl20 {padding-left:20px !important;}.pl25 {padding-left:25px !important;}.pl30 {padding-left:30px !important;}.pl35 {padding-left:35px !important;}.pl40 {padding-left:40px !important;}.pl45 {padding-left:45px !important;}.pl50 {padding-left:50px !important;}.pl60 {padding-left:60px !important;}.pl70 {padding-left:70px !important;}.pl80 {padding-left:80px !important;}.pl90 {padding-left:90px !important;}.pl100 {padding-left:100px !important;}.pl150 {padding-left:150px !important;}.pl200 {padding-left:200px !important;}
.pr0 {padding-right:0px !important;}.pr1 {padding-right:1px !important;}.pr2 {padding-right:2px !important;}.pr3 {padding-right:3px !important;}.pr4 {padding-right:4px !important;}.pr5 {padding-right:5px !important;}.pr10 {padding-right:10px !important;}.pr15 {padding-right:15px !important;}.pr20 {padding-right:20px !important;}.pr25 {padding-right:25px !important;}.pr30 {padding-right:30px !important;}.pr35 {padding-right:35px !important;}.pr40 {padding-right:40px !important;}.pr45 {padding-right:45px !important;}.pr50 {padding-right:50px !important;}.pr60 {padding-right:60px !important;}.pr70 {padding-right:70px !important;}.pr80 {padding-right:80px !important;}.pr90 {padding-right:90px !important;}.pr100 {padding-right:100px !important;}.pr150 {padding-right:150px !important;}.pr200 {padding-right:200px !important;}
.pt0 {padding-top:0px !important;}.pt1 {padding-top:1px !important;}.pt2 {padding-top:2px !important;}.pt3 {padding-top:3px !important;}.pt4 {padding-top:4px !important;}.pt5 {padding-top:5px !important;}.pt10 {padding-top:10px !important;}.pt15 {padding-top:15px !important;}.pt20 {padding-top:20px !important;}.pt25 {padding-top:25px !important;}.pt30 {padding-top:30px !important;}.pt35 {padding-top:35px !important;}.pt40 {padding-top:40px !important;}.pt45 {padding-top:45px !important;}.pt50 {padding-top:50px !important;}.pt60 {padding-top:60px !important;}.pt70 {padding-top:70px !important;}.pt80 {padding-top:80px !important;}.pt90 {padding-top:90px !important;}.pt100 {padding-top:100px !important;}.pt150 {padding-top:150px !important;}.pt200 {padding-top:200px !important;}
.pb0 {padding-bottom:0px !important;}.pb1 {padding-bottom:1px !important;}.pb2 {padding-bottom:2px !important;}.pb3 {padding-bottom:3px !important;}.pb4 {padding-bottom:4px !important;}.pb5 {padding-bottom:5px !important;}.pb10 {padding-bottom:10px !important;}.pb15 {padding-bottom:15px !important;}.pb20 {padding-bottom:20px !important;}.pb25 {padding-bottom:25px !important;}.pb30 {padding-bottom:30px !important;}.pb35 {padding-bottom:35px !important;}.pb40 {padding-bottom:40px !important;}.pb45 {padding-bottom:45px !important;}.pb50 {padding-bottom:50px !important;}.pb60 {padding-bottom:60px !important;}.pb70 {padding-bottom:70px !important;}.pb80 {padding-bottom:80px !important;}.pb90 {padding-bottom:90px !important;}.pb100 {padding-bottom:100px !important;}.pb150 {padding-bottom:150px !important;}.pb200 {padding-bottom:200px !important;}

/* width */
.wid20{width:20px !important;}
.wid30{width:30px !important;}
.wid40{width:40px !important;}
.wid50{width:50px !important;}
.wid60{width:60px !important;}
.wid70{width:70px !important;}
.wid80{width:80px !important;}
.wid90{width:90px !important;}
.wid100{width:100px !important;}
.wid110{width:110px !important;}
.wid120{width:120px !important;}
.wid130{width:130px !important;}
.wid140{width:140px !important;}
.wid150{width:150px !important;}
.wid160{width:160px !important;}
.wid170{width:170px !important;}
.wid180{width:180px !important;}
.wid190{width:190px !important;}
.wid200{width:200px !important;}
.wid210{width:210px !important;}
.wid220{width:220px !important;}
.wid230{width:230px !important;}
.wid240{width:240px !important;}
.wid250{width:250px !important;}
.wid300{width:300px !important;}
.wid350{width:350px !important;}
.wid400{width:400px !important;}
.wid450{width:450px !important;}
.wid500{width:500px !important;}
.wid600{width:600px !important;}
.wid700{width:700px !important;}
.wid800{width:800px !important;}

.wid10p{width:10% !important;}
.wid20p{width:20% !important;}
.wid30p{width:30% !important;}
.wid40p{width:40% !important;}
.wid50p{width:50% !important;}
.wid60p{width:60% !important;}
.wid70p{width:70% !important;}
.wid80p{width:80% !important;}
.wid90p{width:90% !important;}
.wid100p{width:100% !important;}

.mwid50{min-width:50px}
.mwid100{min-width:100px}
.mwid150{min-width:150px}
.mwid200{min-width:200px}
.mwid300{min-width:300px}
.mwid400{min-width:400px}
.mwid500{min-width:500px}
.mwid600{min-width:600px}
.mwid700{min-width:700px}
.mwid800{min-width:800px}

.mwid10p{min-width:10%}
.mwid20p{min-width:20%}
.mwid30p{min-width:30%}
.mwid40p{min-width:40%}
.mwid50p{min-width:50%}
.mwid60p{min-width:60%}
.mwid70p{min-width:70%}
.mwid80p{min-width:80%}
.mwid90p{min-width:90%}
.mwid100p{min-width:100%}

.font_32{font-size:32px;}
.font_30{font-size:30px;}
.font_28{font-size:28px;}
.font_22{font-size:22px;}
.font_20{font-size:20px;}
.font_18{font-size:18px;}
.font_16{font-size:16px;}
.font_15{font-size:15px;}
.font_14{font-size:14px;}
.font_13{font-size:13px;}
.font_12{font-size:12px;}

.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h250{height:250px;}
.h300{height:300px;}
.h350{height:350px;}
.h400{height:400px;}
.h450{height:450px;}
.h500{height:500px;}



.col_w30{width:30px;}
.col_w40{width:40px;}
.col_w50{width:50px;}
.col_w60{width:60px;}
.col_w70{width:70px;}
.col_w80{width:80px;}
.col_w90{width:90px;}
.col_w100{width:100px;}
.col_w110{width:110px;}
.col_w120{width:120px;}
.col_w130{width:130px;}
.col_w140{width:140px;}
.col_w150{width:150px;}
.col_w160{width:160px;}
.col_w170{width:170px;}
.col_w180{width:180px;}
.col_w190{width:190px;}
.col_w200{width:200px;}
.col_w220{width:220px;}
.col_w250{width:250px;}
.col_w260{width:260px;}
.col_w270{width:270px;}
.col_w280{width:280px;}
.col_w300{width:300px;}
.col_w350{width:350px;}
.col_w400{width:400px;}
.col_w500{width:500px;}
