@charset "utf-8";

/* ----------------------------------------
 * Create by 박진우
 * Created : 2021
 --------------------------------------- */
/* ==========================================================================
   Base styles & import
   ========================================================================== */
/* html{background:#3b3b3b;} */
/* html, body{background: #f9f9f9;} */
body{min-width:320px;width:100%;}

/*header*/
header{position:relative; width:100%; border-bottom:1px solid #e0e0e0;background: #fff;}
.top_wrap{height:68px; clear: both;overflow: hidden;padding-top:17px;padding-right:20px;}
.top_wrap h1{position:absolute;top:16px;left:28px;}
.top_wrap h1 a{display:inline-block;vertical-align: middle; width:170px;height:34px;background: url("../images/common/logo.png") no-repeat 0 0 ;text-indent: -9999em;}
.top_wrap h1 span{display:inline-block; padding-left:10px; font-size: 18px;line-height:34px; font-weight: 700;color:#009bcb;}
.top_wrap h1 span em{font-weight:300;}
.top_wrap .top_box{float: right;}
.top_box .top_user{display: inline-block;color:#666666; padding:6px 20px 6px 33px;background: url("../images/common/h_user_img.png") no-repeat 0 center ;}
.top_box .top_link_box{display: inline-block;}
.top_box .top_link_box li{display: inline-block;padding:0 12px;border-left:1px solid #c6d0db;}
.top_box .top_link_box li:first-child{border-left:none;}
.top_box .top_link_box li a{color:#666666;}
.top_box .top_btn_box{display: inline-block;}
.top_box .top_btn_box .btn01{display: inline-block;width:82px; height:31px;line-height:29px;border:none;border-radius: 3px;}
.top_box .top_btn_box .btn01 + .btn01{margin-left:3px;}
.top_box .top_btn_box .btn01.col01{color:#515252;background-color:#fff; border:1px solid #999999;}
.top_box .top_btn_box .btn01.col02{color:#fff; background-color:#131d36;border:1px solid #131d36;padding: 0 5px;}

.gnb{position:relative;padding-bottom: 45px;width:100%; background:#f9f9f9;} /*#f9f9f9   #009bcb*/
/*.gnb > ul {clear: both;overflow: hidden;padding-left:18px; display: flex; background: #009bcb;} */

.gnb > .gnb_container > ul {clear: both;overflow: hidden;padding-left:18px;background: #009bcb; width:10000px;margin-left:0;}
.gnb > .gnb_container {width:100%;overflow:hidden;}

.gnb ul li{display: block;float: left;}
.gnb ul li > .depth1.home span{display:block;width:21px;height:61px; background:url("../images/common/gnb_home.png") no-repeat center center ;text-indent: -9999em;}
.gnb ul li > .depth1{position:relative; display:block;height:61px;margin:0 14px;line-height:61px;font-size:16px;color:#c0f0ff;font-weight: 500;}
.gnb ul li.active > .depth1{color:#fff;}
.gnb ul li > .depth1:hover{color:#fff;opacity:1;}
.gnb ul li .depth1:before{position:absolute;left:0;bottom:0; display:block; width:100%;height:3px;content: "";background:transparent;transform: scaleX(0);transition: transform 250ms ease-in-out;}
.gnb ul li.active > .depth1:before{background:#fff;transform: scaleX(1);}
.gnb ul li .depth2_w{display: none;background: #f9f9f9;height:45px;}
.gnb ul li .depth2_w li a{display: block;height:45px;line-height:45px; color:#333333;margin:0 15px;font-weight: 350;}
.gnb ul li .depth2_w li a.on{color:#009bcb;}
.gnb ul li .depth2_w li a:hover{color:#009bcb;}
.gnb ul li.active .depth2_w{display:block; position: absolute;top:61px;left:0;width:100%;font-size:16px;}



.gnb .gnb_btn_box{position: absolute;top:0;right: 0;}
.gnb .gnb_btn_box .gnb_btn_{ display: block;width:50px; height:61px;float: left;text-indent:-9999em;border-left:1px solid #009bcb;}
.gnb .gnb_btn_box .gnb_btn_.first{background:#0085af url("../images/common/gnb_first_icon.png") no-repeat center center ;}
.gnb .gnb_btn_box .gnb_btn_.prev{background:#0085af url("../images/common/gnb_prev_icon.png") no-repeat center center ;}
.gnb .gnb_btn_box .gnb_btn_.next{background:#0085af url("../images/common/gnb_next_icon.png") no-repeat center center ;}
.gnb .gnb_btn_box .gnb_btn_.last{background:#0085af url("../images/common/gnb_last_icon.png") no-repeat center center ;}
.gnb .gnb_btn_box .gnb_btn_.btn_gnb_list{background:#0085af;}



/* 메뉴 리스트 */
/* .gnb .gnb_btn_box .gnb_btn_.menu_box{background:#0085af url("../images/common/gnb_menu.png") no-repeat center center ;}
 */
.btn_gnb_list{display:none;width:60px;height:60px;transition:all 0.5s cubic-bezier(.64,.19,.15,1);z-index:55;}
.btn_gnb_list i{display:block;width:25px;height:2px;margin-top:6px;margin-left:13px; background:#fff;transition: transform .5s,opacity .3s;}
.btn_gnb_list i:first-child{margin-top:23px;}
.btn_gnb_list i:nth-child(3){width:23px;margin-left:15px;}
.btn_gnb_list.on i{position:relative;left:5px;width:24px;background:#fff;}
.btn_gnb_list.on i:first-child{margin-top:22px;}
.btn_gnb_list.on i:nth-child(1){-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transform-origin: top left;-ms-transform-origin: top left;transform-origin: top left;}
.btn_gnb_list.on i:nth-child(2){opacity:0;}
.btn_gnb_list.on i:nth-child(3){margin-left: 12px;-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transform-origin: bottom left;-ms-transform-origin: bottom left;transform-origin: bottom left;}
.gnb_list_box{display: none; position:absolute;top:53px;right:2px; width:202px;border:1px solid #777777;overflow: hidden;border-radius:5px;z-index: 20;background-color:#ffffff;}
.gnb_list_box.on{display: block;}
.gnb_list_box ul{display: block;min-height:360px; max-height:540px;padding-left:0;overflow-y:auto;}
.gnb_list_box ul li{display: block;width: 100%;border-top:1px solid #e0e0e0;}
.gnb_list_box ul li:first-child{border-top: none;}
.gnb_list_box ul li a{display: block;padding-left:20px;line-height:1.2em;padding:14px 20px; color:#333333;background:#fff;}
.gnb_list_box ul li a:hover {opacity:1; background:#f7f7f7;}
.gnb_list_box ul li a.inert{background: #f2f2f2;}
.gnb_list_box ul li a.inert:hover{background: #ddd;}

.gnb_list_box ul li.active > a { text-decoration: underline; font-weight: bold; }


/* 모바일 메뉴 */
.mob_gnb_list{display: none;position:absolute;top:0;right:0;width:68px;height:68px;background:url("../images/common/menu_icon_m.png") no-repeat center center;background-size: auto 22px;text-indent: -9999em;}
.mob_gnb_list span{display: none;}
.mob_menu_wrap{display:none; position: fixed; top:0;right:-100%;height: 100vh; background: #009bcb;transition: all 0.2s ease;z-index:10;}
 .mob_menu_on .mob_menu_wrap{display:block;right:0;width: 100%;}

.mob_top_wrap{position: relative;height: 68px;}
.mob_top_wrap h1{position:absolute;top:18px;left:10px;}
.mob_top_wrap h1 a{display: inline-block;vertical-align: middle;width: 170px;height: 34px;background: url(../images/common/logo_menu.png) no-repeat 0 0;background-size:auto 33px; text-indent: -9999em;}
.mob_top_wrap h1 span{display: inline-block;padding-left: 10px;font-size: 18px;line-height: 34px;font-weight: 700;color: #fff;}

.mob_top_wrap .btn_en{position:absolute;top:15px;right:55px; display:block; width:36px;height:36px;line-height: 32px;color:#fff; border:2px solid #fff;border-radius: 18px;text-align: center;font-weight:900;}
.mob_top_wrap .mob_menu_close{position:absolute;top:15px;right:10px; display:block; width:36px;height:36px; background:url("../images/common/menu_close_m.png") no-repeat center center;background-size: auto 24px;text-indent: -9999em;}


.mob_user_wrap{padding:0 10px 10px 10px;}
.mob_user_box01{position:relative; background: #006794;width:100%;padding:15px 20px;}
.mob_user_box01 .top_user{display: inline-block;color: #fff;font-size:16px; padding: 8px 20px 8px 35px;background: url(../images/common/h_user_img_m.png) no-repeat 0 center;background-size: auto 30px;}
.mob_user_box01 .btn_logout{position:absolute;top:50%;right:20px;margin-top:-20px; width:40px;height:40px;background:#131d36 url(../images/common/mob_icon01.png) no-repeat center center;background-size: auto 20px;border:none;border-radius: 20px;text-indent: -9999em;}
.mob_user_box02{clear: both;overflow: hidden;padding:16px 0;display: flex;flex-wrap: nowrap;background-color: #131d36;}
.mob_user_box02 li{width:30%;float: left;}
.mob_user_box02 li:nth-child(2){width:40%;}
.mob_user_box02 li + li{border-left:1px solid #4b5366;}
.mob_user_box02 li a{display: block;line-height:1.2em; text-align: center;color:#fff;font-weight: 500;font-size:14px;padding:0 10px;}

.mob_gnb{position: fixed;display: block;padding:0 10px 15px 10px; width:100%;height: calc( 100% - 212px);overflow-y: auto;}

.depth1_box > li{border-bottom:1px solid #3bb2d7;}
.depth1_box > li.depth1_on,
.depth1_box > li:last-child{border-bottom:none;}
.depth1_box > li a{position:relative; display: block;line-height: 1.2em;font-size:16px;}
.depth1_box > li > a{position:relative; display:block;padding:17px 40px 17px 10px;font-size:16px; color:#fff;}


.depth1_box > li.depth_2in > a:after{position: absolute;top: 50%;margin-top: -4.5px;right: 10px;display: inline-block;vertical-align: middle;width: 17px;height: 10px;content: "";background: url(../images/common/depth1_icon_m.png) no-repeat center center;background-size: auto 10px;transition: all 0.5s ease;}
.depth1_box > li.depth_2in.depth1_on > a:after{transform: rotate(180deg);background: url(../images/common/depth1_icon_on_m.png) no-repeat 0 center;background-size: auto 10px;}
.depth1_box > li.depth1_on > a:after{transform: rotate(180deg);background: url(../images/common/depth1_icon_on_m.png) no-repeat 0 center;background-size: auto 10px;}
.depth2_box > li.depth_3in > a:after{position: absolute;top: 50%;margin-top: -4.5px;right: 10px;display: inline-block;vertical-align: middle;width: 17px;height: 10px;content: "";background: url(../images/common/depth1_icon_m.png) no-repeat center center;background-size: auto 8px;transition: all 0.5s ease;}
.depth2_box > li.depth_3in.depth2_on > a:after{transform: rotate(180deg);background: url(../images/common/depth1_icon_on_m.png) no-repeat 0 center;background-size: auto 8px;}
.depth3_box > li.depth_4in > a:after{position: absolute;top: 50%;margin-top: -4.5px;right: 10px;display: inline-block;vertical-align: middle;width: 17px;height: 10px;content: "";background: url(../images/common/depth1_icon_m.png) no-repeat center center;background-size: auto 8px;transition: all 0.5s ease;}
.depth3_box > li.depth_4in.depth3_on > a:after{transform: rotate(180deg);background: url(../images/common/depth1_icon_on_m.png) no-repeat 0 center;background-size: auto 8px;}

/* li.depth4_on > a:after{position: absolute;top: 50%;margin-top: -10px;right: 4px;display: inline-block;vertical-align: middle;width: 8px;height: 20px;content: "";background: url(../images/common/depth4_icon_on_m.png) no-repeat center center;background-size:8px auto;transition: all 0.5s ease;}
 */


.Ui5FontColorRed01{color:#e85347  !important;}	
.Ui5FontColorGreen01{color:#7abe02  !important;}	
.Ui5FontColorBlack01{color:#111111  !important;}	
.Ui5FontColorYellow01{color:#c9cb00  !important;}	
.Ui5FontColorBlue01{color:#00a8ff  !important;}	
.Ui5FontWeightBold01{font-weight: 700 !important;}	


.depth1_box > li  a:before{display: inline-block;vertical-align: middle;margin-right:7px; width:5px;height:5px;border-radius:3px; content: "";background:#009bcb;}
.depth1_box > li.depth1_on >  a:before{background-color: #fff;}





.depth2_box{display: none;}
.depth1_box > li.depth1_on .depth2_box{display: block;margin:0 5px;border-radius: 5px;    overflow: hidden;}
.depth1_box > li.depth1_on .depth2_box > li > a{color:#fff; background: #0087b1;padding:17px 35px 17px 10px;}
.depth1_box > li.depth1_on .depth2_box > li.depth2_on > a{color:#abebff;}

.depth2_box > li  a:before{display: inline-block;vertical-align: middle;margin-right:7px; width:5px;height:5px;border-radius:3px; content: "";background:#0087b1;}
.depth2_box > li.depth2_on >  a:before{background-color: #abebff;}
.depth1_box > li .depth2_box > li{border-top:1px solid #3ba3c3;}
.depth1_box > li .depth2_box > li:first-child{border-top:none;}

.depth3_box > li{border-top:1px solid #3b8aad;}
.depth3_box > li:first-child{border-top:none;}


.depth3_box{display: none;}
li.depth2_on .depth3_box{display: block;background: #006794;}
.depth3_box > li.depth3_on > a:before{background-color: #abebff;}

.depth3_box > li > a{color:#fff; padding:17px 40px 17px 20px;}
.depth3_box > li > a:before{background-color: #006794;}
.depth3_box > li.depth3_on > a{color:#abebff;}
.depth3_box > li.depth3_on > a:before{background-color: #abebff;}

.depth4_box{display: none;}
li.depth3_on .depth4_box{display: block;padding:0 15px 15px 15px;background: #006794;}
.depth4_box > li > a{color:#fff; padding:10px 40px 10px 25px;}
 .depth4_box > li > a:before{background: #006794;}
.depth4_box > li.depth4_on > a{color:#abebff;}
.depth4_box > li.depth4_on > a:before{background-color: #abebff;}










/*footer*/
footer{clear:both;overflow:hidden; background-color: #3b3b3b;}
footer p{width:100%;text-align:center;color:#a7a7a7; padding:10px;line-height: 1.4em;font-size: 14px;}

/*lnb_wrap*/
.lnb_wrap{position:absolute;top:175px; left:-228px; width:228px; height:calc(100vh - 175px);overflow-y:auto; background: #fff; transition:left 0.5s cubic-bezier(.64,.19,.15,1);border-right: 1px solid #e0e0e0; z-index: 10;}
.lnb_wrap.on {left:0;}
.lnb_wrap .h2_box{height:80px;padding:20px 40px 20px 20px;background: #fff;}
.lnb_wrap.on .h2_box{position:relative;}
.lnb_wrap .h2_box h2{display: table;height:100%;font-size: 20px;font-weight:600;}
.lnb_wrap .h2_box h2 span{display: table-cell;vertical-align: middle;color:#009bcb;}
.lnb_wrap .h2_box .lnb_close{position:absolute;top:20px; right:0;width:40px;height:40px;  background:url("../images/common/lnb_close02.png") no-repeat center center;text-indent: -9999em;border:0;}
.lnb_open {display:block; position:absolute; top:195px; left:0;width:20px; height:40px; border:1px solid #009bcb; text-indent:-9999em; background:url("../images/common/lnb_close.png") no-repeat center center; z-index: 9;}
.lnb_wrap.on ~ .lnb_open {display:none;}
.lnb_wrap .lnb_btn_box{position:relative; height:45px;background: #f9f9f9;}
.lnb_wrap .lnb_btn_box .lnb_close{position:absolute;top:0;margin-top:0;right:0; width:44px;height:44px; background:url("../images/common/lnb_close.png") no-repeat center center;text-indent: -9999em;border:none;border-left:1px solid #e0e0e0;}
.lnb_box >ul > li:first-child >a{border-top:1px solid #e0e0e0;}
.lnb_box >ul > li > a{display:block;padding-left:17px; width:100%;height:46px;border-bottom:1px solid #e0e0e0;background:#fff;opacity: 1;}
.lnb_box >ul > li.depth_4in > a{background: url("../images/common/lnb_icon01.png") no-repeat right 20px center;}
.lnb_box >ul > li > a span{position:relative; display: table;height: 100%;}
.lnb_box >ul > li > a span em{display: table-cell;vertical-align: middle;padding-left:10px; padding-right: 30px;}
.lnb_box >ul > li > a span:before{position:absolute;top:50%;margin-top:-2px; display: inline-block;vertical-align: middle;margin-right:5px; width:4px;height:4px;content: "";background:#666666;border-radius: 2px;}
.lnb_box >ul > li:hover >a{border-bottom:1px solid #009bcb;background:#009bcb;}
.lnb_box >ul > li.active >a{border-bottom:1px solid #009bcb;background:#009bcb;}

.lnb_box >ul > li.depth_4in:hover >a{border-bottom:1px solid #009bcb;background:#009bcb url("../images/common/lnb_icon01_hover.png") no-repeat right 20px center;}
.lnb_box >ul > li.depth_4in.active >a{border-bottom:1px solid #009bcb;background:#009bcb url("../images/common/lnb_icon02.png") no-repeat right 20px center;}



.lnb_box >ul > li:hover:first-child >a,
.lnb_box >ul > li.active:first-child >a{border-bottom:1px solid #009bcb;border-top:1px solid #009bcb;color:#fff;}
.lnb_box >ul > li:hover >a span em,
.lnb_box >ul > li.active >a span em{color:#fff;}
.lnb_box >ul > li:hover >a span:before,
.lnb_box >ul > li.active >a span:before {background:#fff;}
.lnb_box ul li .depth4_box{display: none;background: #fff;padding:10px 0;}
.lnb_box ul li .depth4{display:block;font-size:15px;color:#333333;line-height:1.2em; padding:10px 10px 10px 28px;font-weight:400; }
.lnb_box ul li .depth4.on, .lnb_box ul li .depth3.on{color:#009bcb;font-weight:500;}
.lnb_box ul li.active .depth4_box{display: block;border:1px solid #009bcb;border-left:none;}







/*container*/
.lnb_wrap.on ~ .container {width:calc( 100% - 228px); margin-left:228px;}

/*.container{position:relative;min-height:700px;width:100%;height:auto; min-height: calc(100vh - 175px);margin-left:0;border:0; background: #f9f9f9;transition:margin 0.5s cubic-bezier(.64,.19,.15,1), width 0.5s cubic-bezier(.64,.19,.15,1);} */
.container{position:relative;width:100%;height: calc(100vh - 175px);margin-left:0;border:0; background: #f9f9f9;transition:margin 0.5s cubic-bezier(.64,.19,.15,1), width 0.5s cubic-bezier(.64,.19,.15,1);}

.container:after{clear: both;overflow: hidden;}

/*.container iframe {position:absolute; top:0; left:0; width:100%; height:100%;}*/
.contentIframe {display:block;width:100%; height:100%; }


.lnb_wrap.lnb_wrap_hide {
	display: none;
}

.lnb_wrap.lnb_wrap_hide ~ .lnb_open {
	display: none;
}

.lnb_wrap.lnb_wrap_hide ~ .container {
	width: 100%;
	margin-left: 0;
}



@media only screen and (max-width:1160px){
	.top_box .top_user{display: none;}
	
}
@media only screen and (max-width:1024px){
	.pc_br{display: none;}
	.top_box {display: none;}
	.gnb{display: none;}
	.lnb_wrap{display: none;}
	.lnb_open {display:none;}
	
	/*.container{height:auto; margin-left:0;}*/
	.container{height: calc(100vh - 69px); margin-left:0;}
	
	.lnb_wrap.on ~ .container {width:100%; margin-left:0;}
	.mob_gnb_list{display: block;}
	.top_wrap h1{left:15px;}
	
	
}


@media only screen and (max-width:756px){
	.top_wrap{padding-right:0;}
	.top_wrap h1{left:10px;top:20px;}
	.top_wrap h1 span{font-size:16px;line-height: 29px;}
	.mob_top_wrap h1 span{display: none;}
	.top_wrap h1 span{display: none;}
}


@media only screen and (max-width:380px){
	
	
	
	
}
















