@charset "utf-8";

/* ----------------------------------------
 * Create by 박진우
 * Created : 2021
 --------------------------------------- */
/* ==========================================================================
   Base styles & import
   ========================================================================== */
/* html{background:#3b3b3b;} */
body{min-width:320px;width:100%;}

/*공통*/
.pc_br{display: block;}

/*header*/
/* header{position:relative; width:100%; border-bottom:1px solid #e0e0e0;overflow: hidden;background: #fff;}
.top_wrap{height:68px; clear: both;overflow: hidden;padding-top:17px;padding-right:20px;}
.top_wrap h1{position:absolute;top:16px;left:28px;}
.top_wrap h1 a{display:inline-block;vertical-align: middle; width:170px;height:34px;background: url("../images/common/logo.png") no-repeat 0 0 ;text-indent: -9999em;}
.top_wrap h1 span{display:inline-block; padding-left:10px; font-size: 18px;line-height:34px; font-weight: 900;color:#009bcb;}
.top_wrap h1 span em{font-weight:300;padding-right:5px;}
.top_wrap .top_box{float: right;}
.top_box .top_user{display: inline-block;color:#666666; padding:6px 20px 6px 33px;background: url("../images/common/h_user_img.png") no-repeat 0 center ;}
.top_box .top_link_box{display: inline-block;}
.top_box .top_link_box li{display: inline-block;padding:0 12px;border-left:1px solid #c6d0db;}
.top_box .top_link_box li:first-child{border-left:none;}
.top_box .top_link_box li a{color:#666666;}
.top_box .top_btn_box{display: inline-block;}
.top_box .top_btn_box .btn01{display: inline-block;width:82px; height:31px;line-height:29px;border:none;border-radius: 3px;}
.top_box .top_btn_box .btn01 + .btn01{margin-left:3px;}
.top_box .top_btn_box .btn01.col01{color:#515252;background-color:#fff; border:1px solid #999999;}
.top_box .top_btn_box .btn01.col02{color:#fff; background-color:#131d36;border:1px solid #131d36;}

.gnb{position:relative;padding-bottom: 45px;width:100%; background:#009bcb; } 
.gnb ul {clear: both;overflow: hidden;padding-left:18px;display: flex;}
.gnb ul li{display: block;float: left;}
.gnb ul li > .depth1.home span{display:block;width:21px;height:61px; background:url("../images/common/gnb_home.png") no-repeat center center ;text-indent: -9999em;}
.gnb ul li > .depth1{position:relative; display:block;height:61px;margin:0 14px;line-height:61px;font-size:16px;color:#c0f0ff;font-weight: 400;}
.gnb ul li > .depth1.on{color:#fff;}
.gnb ul li > .depth1:hover{color:#fff;opacity:1;}
.gnb ul li > .depth1.on:before{position:absolute;left:0;bottom:0; display:block; width:100%;height:3px;content: "";background:#fff;}
.gnb ul li .depth2_w{display: none;background: #f9f9f9;height:45px;}
.gnb ul li .depth2_w li a{display: block;height:45px;line-height:45px; color:#333333;margin:0 15px;font-weight: 350;}
.gnb ul li .depth2_w li a.on{color:#009bcb;}
.gnb ul li .depth2_w li a:hover{color:#009bcb;}
.gnb ul li .depth2_w.on{display:block; position: absolute;top:61px;left:0;width:100%;font-size:16px;}
.gnb .gnb_btn_box{position: absolute;top:0;right: 0;}
.gnb .gnb_btn_box .gnb_btn_{ display: block;width:50px; height:61px;float: left;text-indent:-9999em;border-left:1px solid #009bcb;}
.gnb .gnb_btn_box .gnb_btn_.first{background:#0085af url("../images/common/gnb_first_icon.png") no-repeat center center ;}
.gnb .gnb_btn_box .gnb_btn_.prev{background:#0085af url("../images/common/gnb_prev_icon.png") no-repeat center center ;}
.gnb .gnb_btn_box .gnb_btn_.next{background:#0085af url("../images/common/gnb_next_icon.png") no-repeat center center ;}
.gnb .gnb_btn_box .gnb_btn_.last{background:#0085af url("../images/common/gnb_last_icon.png") no-repeat center center ;}
 */

/*메인*/
.main_container{height:calc(100vh - 175px); width:100%; /*overflow-y:auto;*/ }
/*.main_container > iframe {display:block;width:100%; height:100%; min-height:946px; } */
.main_bg {height:100%; background:#f4f9fa url("../images/main/main_bg03.jpg") no-repeat center  bottom -40px; min-height:946px; }
.main_wrap{width:100%;max-width:1217px;padding-top:68px; margin:0 auto;clear: both;}
.main_left{width:460px;float: left;}
.main_right{width:calc(100% - 460px);float: left;}

/*나의 결재함 */
.main_box01{width:100%;}
.main_box01 .box_top{width:100%;clear: both;overflow: hidden;}
.main_box01 .main_title{font-weight: 500;float:left;font-size: 21px;color:#111111;padding-left:17px;} 
.main_box01 .main_title span{display:block;height:31px;padding-top:4px; padding-left:55px;background:url("../images/main/main_icon01.png") no-repeat 0 0;}
.main_box01 .link_btn{float: left;margin-left:80px;color:#999999;padding-bottom:6px;padding-top:8px; font-size:14px; border-bottom:1px solid #b2b4b4;}
.main_box01 .access_text{clear: both;overflow: hidden;padding-left: 72px;padding-top:10px;padding-bottom:15px;font-size: 13px;color:#999999;line-height: 1.2em;}
.main_box01 .access_text span{color:#333333;}

.main_box01_con_w{position: relative; overflow: hidden; height: 235px;}
.main_box01_con_w iframe{ position: absolute; top: 0; left: 0; width: calc(100% - 100px); height: 100%; overflow: hidden;}




.main_box01_con{padding:0 90px 40px 86px;margin-top:15px; background:url("../images/main/main_icon04.png") no-repeat 0 65px;}
.main_box01_con li{display: block;width:100%;margin-top:5px; border-radius: 5px;background: #fff;box-shadow: 5px 5px 15px #e3f0f8;}
.main_box01_con li:first-child{margin-top:5px;}
.main_box01_con li dl{clear: both;overflow: hidden;}
.main_box01_con li dl dt{float: left;width:106px;height:48px;line-height:48px; text-align: right;}
.main_box01_con li dl dd{float: right;width:calc(100% - 106px);height:48px;line-height:48px;padding-right:30px; text-align: right;font-weight:300;}
.main_box01_con li dl dd a{color:#999999;}
.main_box01_con li dl dd a.font_col02{color:#9600ff;}
.main_box01_con li dl dd strong{font-size:18px;margin-right:5px;}






/*나의 정보 */

.main_box09_con_w{position: relative; overflow: hidden; height: 235px;}
.main_box09_con_w iframe{ position: absolute; top: 0; left: 0; width: calc(100% - 100px); height: 100%; overflow: hidden;}


.main_box09{width:100%;}
.main_box09 .box_top{width:100%;clear: both;overflow: hidden;}
.main_box09 .main_title{font-weight: 500;float:left;font-size: 21px;color:#111111;padding-left:17px;} 
.main_box09 .main_title span{display:block;height:31px;padding-top:4px; padding-left:55px;background:url("../images/main/main_icon01.png") no-repeat 0 0;}
.main_box09 .link_btn{float: right;color:#999999;padding-bottom:6px;padding-top:8px; font-size:14px; border-bottom:1px solid #b2b4b4;}
.main_box09 .access_text{clear: both;overflow: hidden;padding-left: 72px;padding-top:10px;padding-bottom:15px;font-size: 13px;color:#999999;line-height: 1.2em;}
.main_box09 .access_text span{color:#333333;}
.main_box09_con{padding-left:93px; width:360px; background:url("../images/main/main_icon06.png") no-repeat 0 65px;}
.main_box09_con li{display: block;width:100%;margin-top:5px; border-radius: 5px;background: #fff;box-shadow: 5px 5px 15px #e3f0f8;}
.main_box09_con li:first-child{margin-top:5px;}
.main_box09_con li dl{clear: both;overflow: hidden;}
.main_box09_con li dl dt{float: left;width:48px;height:48px;line-height:48px; text-align: right;}
.main_box09_con li dl dd{float: right;width:calc(100% - 50px);height:48px;line-height:48px;padding-right:20px; text-align: right;font-weight:300;}
.main_box09_con li dl dd a{color:#999999;}
.main_box09_con li dl dd a.font_col02{color:#9600ff;}
.main_box09_con li dl dd strong{font-size:16px;font-weight: 400;}

/*구글메일함 */
.main_box02{width:100%;padding-left:17px;}
.main_box02 .box_top{width:306px;clear: both;padding-bottom:30px; overflow: hidden;border-bottom:1px solid #e2e2e2;}
.main_box02 .main_title{font-weight: 500;float:left;font-size: 21px;color:#111111;} 
.main_box02 .main_title span{display:block;height:31px;padding-top:4px; padding-left:55px;background:url("../images/main/main_icon02.png") no-repeat 0 0;}
.main_box02 .link_btn{float: right;color:#999999;padding-bottom:6px;font-weight:300;padding-top:8px; font-size:14px; border-bottom:1px solid #b2b4b4;}

/*전자메일함 */
.main_box02_s{width:100%;padding-left:17px;}
.main_box02_s .box_top{width:344px;clear: both;padding-bottom:30px; overflow: hidden;border-bottom:1px solid #e2e2e2;}
.main_box02_s .main_title{font-weight: 500;float:left;font-size: 21px;color:#111111;} 
.main_box02_s .main_title span{display:block;height:33px;padding-top:6px;padding-left:55px;background:url("../images/main/main_icon05.png") no-repeat 0 0;}
.main_box02_s .link_btn{float: right;color:#999999;padding-bottom:6px;font-weight:300; padding-top:8px; font-size:14px; border-bottom:1px solid #b2b4b4;}

/*문의사항*/
.main_box03{width:100%;padding-left:17px;padding-top:25px;}
.main_box03 .box_top{width:344px;clear: both;padding-left:12px; padding-right:12px;padding-bottom:25px;overflow: hidden;border-bottom:1px solid #e2e2e2;}
.main_box03 .main_title{font-weight: 500;float:left;font-size: 21px;color:#111111;background:url("../images/main/main_icon03.png") no-repeat 0 0; background-size:30px;} 
.main_box03 .main_title span{display:block;height:31px;padding-top:4px; padding-left:55px;}
.main_box03 .main_title p{padding-left:40px;}
.main_box03 .main_title .text01{font-size:16px;letter-spacing: -1px;}
.main_box03 .main_title .text02{padding-top:10px;color:#111;font-size: 15px;font-weight:300;}
.main_box03 .link_btn{float: right;color:#999999;padding-bottom:6px;font-weight:300;padding-top:8px; font-size:14px; border-bottom:1px solid #b2b4b4;}

/*footer*/
.main_box07{width:100%;padding-left:30px;font-weight:300;padding-top:15px;line-height: 1.5em;font-size:14px;color:#666666;letter-spacing: -0.5px;}
.main_box07 .pc_br{display: block;}
.m_main_box07{display: none;}

/*공지사항 자주찾는메뉴*/
.main_box04{width:100%;}
.tab_type{text-align:center; overflow: hidden;clear: both;}
.tab_type li{display: inline-block;padding:0 30px;}
.tab_type li a{display:block;padding-bottom:13px; font-size:30px;color:#111111;font-weight:500;border-bottom: 3px solid transparent;}
.tab_type li a:hover,
.tab_type li.on a{color:#00c3ff;border-bottom:3px solid #00c3ff}
.tab_cont {opacity:0; height:0;overflow: hidden;}
.tab_cont.on{opacity:1; min-height:310px;height: auto;padding-bottom:30px;}
.tab_box01{padding:30px 20px 0 20px;}


.tab_box01 .link_btn{display:inline-block; color:#999999;padding-top:13px; padding-bottom:6px;font-size:14px; border-bottom:1px solid #b2b4b4;}
.tab_box01 .title_ span{display:block; font-size: 18px;font-weight: 400;letter-spacing: -0.5px;line-height: 1.2em;}
.tab_cont .text_{padding-right:42px;padding-top:16px;text-align: right;color:#8a8a8a;font-weight:300;}
.tab_box02{position:relative;}
.tab_box02 .swiper-container{width:670px;margin:0 auto;}
.tab_box02 .swiper-slide .bookbtn_{display:block; text-align: center;height:122px; color:#234568;font-size: 15px;margin-top:10px;font-weight:400; letter-spacing:-1px;}
.tab_box02 .swiper-slide .bookbtn_ span{display: block;text-align: center;padding-top:86px;}
.tab_box02 .swiper-slide .bookbtn_.bg01 span{background:url("../images/main/bookmark_icon01.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg02 span{background:url("../images/main/bookmark_icon02.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg03 span{background:url("../images/main/bookmark_icon03.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg04 span{background:url("../images/main/bookmark_icon04.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg05 span{background:url("../images/main/bookmark_icon05.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg06 span{background:url("../images/main/bookmark_icon06.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg07 span{background:url("../images/main/bookmark_icon07.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg08 span{background:url("../images/main/bookmark_icon08.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg09 span{background:url("../images/main/bookmark_icon09.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg10 span{background:url("../images/main/bookmark_icon10.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg11 span{background:url("../images/main/bookmark_icon11.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg12 span{background:url("../images/main/bookmark_icon12.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg13 span{background:url("../images/main/bookmark_icon13.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg14 span{background:url("../images/main/bookmark_icon14.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg15 span{background:url("../images/main/bookmark_icon15.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg16 span{background:url("../images/main/bookmark_icon16.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg17 span{background:url("../images/main/bookmark_icon17.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg18 span{background:url("../images/main/bookmark_icon18.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg19 span{background:url("../images/main/bookmark_icon19.png") no-repeat center 0;}
.tab_box02 .swiper-slide .bookbtn_.bg20 span{background:url("../images/main/bookmark_icon20.png") no-repeat center 0;}


.tab_box02 .swiper-pagination{width:100%;text-align: center;padding-top:10px;}
.tab_box02 .swiper-pagination-bullet{width:11px;height:11px;margin:0 5px; border-radius:6px;background: #d1d1d1;opacity:1;}
.tab_box02 .swiper-pagination-bullet-active{width:41px;background: #18a4ea;}
.tab_box02 .swiper-button-next, 
.tab_box02 .swiper-button-prev{width:26px;height:45px;margin-top:-23px;}
.tab_box02 .swiper-button-next{right:0; background:url("../images/main/swiper_right.png") no-repeat center 0;}
.tab_box02 .swiper-button-prev{left:0; background:url("../images/main/swiper_left.png") no-repeat center 0;}

.login_r_box01{width:100%;}
.tab_type{text-align:center; overflow: hidden;clear: both;padding-bottom:20px;}
.tab_type li{display: inline-block;padding:0 30px;}
.tab_type li a{display:block;padding-bottom:13px; font-size:30px;color:#111111;font-weight:500;border-bottom: 3px solid transparent;}
.tab_type li a:hover,
.tab_type li.on a{color:#009bcb;border-bottom:3px solid #009bcb}
.tab_cont {opacity:0; height:0;overflow: hidden;}
.tab_cont.on{opacity:1;}
.tab_box01{padding:10px 0 0 0;}
.tab_box01 ul{clear: both;overflow: hidden;}
.tab_box01.stu_w ul{background: #e5f3f8 url("../images/main/link_bg01.png") no-repeat right -20px top -18px;}
.tab_box01 > ul > li{display: block;width:100%;margin:0 auto;clear: both; border:1px solid #b3e0ee; border-radius:10px;}
.tab_box01 .icon01{padding-left:48px;background:url("../images/main/notice_icon01.png") no-repeat 0 6px; background-size:36px;}
.tab_box01 .icon02{padding-left:42px;background:url("../images/main/notice_icon02.png") no-repeat 0 6px; background-size:33px;}
.tab_box01 .icon03{padding-left:48px;background:url("../images/main/notice_icon03.png") no-repeat 0 0; background-size:38px;}
.tab_box01 .icon04{padding-left:60px;background:url("../images/main/notice_icon04.png") no-repeat 0 0;}
.tab_box01 .icon05{padding-left:40px;background:url("../images/main/notice_icon05.png") no-repeat 0 6px;}
.tab_box01 .link_btn{display:inline-block; font-weight:300;color:#999999;padding-top:13px; padding-bottom:6px;font-size:14px; border-bottom:1px solid #b2b4b4;}
.tab_cont .text_{padding-right:42px;padding-top:16px;text-align: right;color:#8a8a8a;font-weight:300;}

.tab_box01 .li01{background:#e5f3f8;clear: both;position:relative;}
.tab_box01 .li01 > div {padding:25px;overflow:hidden;}
.tab_box01 .li01 .title_ span{display:block; font-size: 16px;font-weight: 600;letter-spacing: -0.5px;}
.tab_box01 .li01::after {content:''; display:block; width:33px; height:9px; background: url('../images/main/tab1_after.png') center no-repeat; position:absolute; bottom:-9px; left:48px;}
.tab_box01 .li01 .link01{width:calc(100% - 250px);float: left;padding-right:30px;} 
.tab_box01 .li01 .link02{width:250px;float: right;} 
.tab_box01 .li01 .link02 .title_ + .title_ {margin-left:25px;}
.tab_box01 .li01 .title_{float: left;margin-top: 6px;}
.tab_box01 .li01 .link_list{float:left; padding-left:18px;}
.tab_box01 .li01 .icon03 + .link_list{padding-left:8px;}
.tab_box01 .li01 .link01 .link_list{width:calc(100% - 111px);} 
.tab_box01 .li01 .link_list a{ display: block;height:28px;line-height:28px;padding:0 8px; margin:2px; float: left;color:#fff; background: #009bcb;border-radius:3px;}
.tab_box01 .li01 .link_list a:nth-child(1), 
.tab_box01 .li01 .link_list a:nth-child(2),
.tab_box01 .li01 .link_list a:nth-child(3),
.tab_box01 .li01 .link_list a:nth-child(4) {padding:0 9.5px;}
.tab_box01 .li01 .link_list a.on {background:#00487b !important; border:1px solid #000; line-height:26px;}
.tab_box01 .li01 .link_list a.col02 {background:#799c92;}
.tab_box01 .li01 .link_list a.col03 {background:#8982a7;}

.tab_box01 .li02{margin-top:-1px;padding:39px 35px 28px; background:rgba(244, 249, 250, 0.95);}
.tab_box01 .li02 .link03{clear: both;overflow: hidden; min-height:383px;}
.tab_box01 .li02 .title_ {display:flex; align-items:center; justify-content:space-between;}
.tab_box01 .li02 .title_ span{font-size: 20px;font-weight: 600;letter-spacing: -0.5px;}
.tab_box01 .li02 .link_btn{padding-top:0;}
.tab_box01 .li02 .notice_list{margin-top:12px;}
.tab_box01 .li02 .notice_list ul{padding:0;border-radius: 0;background: none;}
.tab_box01 .li02 .notice_list ul li{padding:10px 0;clear: both;overflow: hidden;color:#4c626a;}
.tab_box01 .li02 .notice_list ul li .title{float: left;width:auto;font-size:15px;color:#4c626a;max-width:calc(100% - 85px);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tab_box01 .li02 .notice_list ul li .title:before{display: inline-block;vertical-align: middle;margin-right:5px; width:3px;height:3px;border-radius:2px; content: "";background:#738a92;}
.tab_box01 .li02 .notice_list ul li .date{float: right;text-align:right; width:85px;}

.login_r_box01 .tab_box02{position:relative;}
.login_r_box01 .tab_box02 .swiper-container{width:600px;margin:0 auto;}






/*바로가기메뉴*/
.main_box05{width:100%;padding-top: 32px;}
.main_box05 .link_w{text-align: center;}
.main_box05 .link_w select{display:inline-block;vertical-align:top;  margin:0 2px; height:52px;line-height:48px;font-size:16px;font-weight:400;  border-radius:26px;border:2px solid #111111;padding-left:28px; padding-right:50px; background:#f4f7fa url("../images/main/select_icon01.png") no-repeat right 23px center;-webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;}
.main_box05 .link_w select::-ms-expand {display: none;}
.main_box05 .btn_link{display:inline-block; width:52px;height:52px;line-height:48px;margin-left:2px;text-align:center; color:#fff;background: #111;font-weight: 700;border-radius:26px;}

/*바로가기메뉴*/
.main_box08{width:100%;padding-top: 32px;}
.main_box08 .link_w .title_{padding-left:48px;margin-top:10px;padding-right:25px; display: inline-block;text-align:left;font-size:16px; background:url("../images/main/link_icon04.png") no-repeat 0 center;font-weight: 500;}
.main_box08 .link_w .title_ .pc_br_{display: block;}
.main_box08 .link_w{text-align: center;}
.main_box08 .link_w select{display:inline-block;vertical-align:top;  margin:0 2px; height:52px;line-height:48px;font-size:16px;font-weight:400;  border-radius:26px;border:2px solid #111111;padding-left:28px; padding-right:50px; background:#f4f7fa url("../images/main/select_icon01.png") no-repeat right 23px center;-webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;}
.main_box08 .link_w select::-ms-expand {display: none;}
.main_box08 .btn_link{display:inline-block; width:52px;vertical-align:top; height:52px;line-height:48px;margin-left:2px;text-align:center; color:#fff;background: #111;font-weight: 700;border-radius:26px;}

/*바로가기메뉴*/
.main_box10 {padding-left:17px;}
.main_box10 .box_top{width:344px;}
.main_box10 ul{clear: both;overflow: hidden; background:#eaf4f3; border-radius:8px; padding:0 15px;}
.main_box10 ul li{display: block;width:50%;float: left; padding:25px 0;}
.main_box10 ul li:nth-child(1),
.main_box10 ul li:nth-child(2) {border-bottom:1px solid #e2e2e2;}
.main_box10 ul li .text01{font-size: 16px;font-weight: 500;padding-bottom: 10px;}
.main_box10 ul li .text02{display:inline-block; font-size: 14px;font-weight: 300;padding-bottom:6px;}
.main_box10 ul li a{display: block;padding:0 0 0 62px;}
.main_box10 ul li a .text02 {color:#999999;border-bottom: 1px solid #999999;}
.main_box10 ul li a.bg01{background:url("../images/main/main_icon07.png") no-repeat 2px 5px; background-size:41px;}
.main_box10 ul li a.bg01 .text01{color:#016ea5;}
.main_box10 ul li a.bg02{background:url("../images/main/main_icon08.png") no-repeat 11px 5px; background-size:40px;}
.main_box10 ul li a.bg02 .text01{color:#3c8595;}
.main_box10 ul li a.bg03{background:url("../images/main/main_icon05.png") no-repeat 10px 5px; background-size:28px;}
.main_box10 ul li a.bg03 .text01{color:#ab625c;}
.main_box10 ul li a.bg04{background:url("../images/main/main_icon09.png") no-repeat 12px 5px; background-size:37px;}
.main_box10 ul li a.bg04 .text01{color:#6361bc;}
.main_box10 ul li a.bg05{background:url("../images/main/main_icon02.png") no-repeat 6px 5px; background-size:35px;}
.main_box10 ul li a.bg05 .text01{color:#ab625c;}





/*타사이트 링크*/
.main_box06{width:100%;padding-top:30px;}
.main_box06 ul{text-align: center;}
.main_box06 ul li{display: inline-block;padding-left:30px;}
.main_box06 ul li:first-child{padding-left:0;}
.main_box06 ul li a{display: inline-block;height:30px;line-height:30px; color:#333;font-weight:500;font-size: 14px;}
.main_box06 ul li a.bg01{padding-left:40px; background:url("../images/main/link_icon01.png") no-repeat 0 center;}
.main_box06 ul li a.bg02{padding-left:40px; background:url("../images/main/link_icon02.png") no-repeat 0 center;}
.main_box06 ul li a.bg03{padding-left:40px; background:url("../images/main/link_icon03.png") no-repeat 0 center;}
.main_box06 ul li:before{display: inline-block;vertical-align: middle;margin-right:30px; width:1px;height:20px;content: "";background:#cbcfd0;}
.main_box06 ul li:first-child:before {display: none;}

/* 로그인 화면 */
.login{position:relative;height:100vh;min-height:800px;background:#f3f8fa;}
.login_wrap{position: absolute;left:50%; top: 50%;transform: translate(-50%,-50%);width:1200px;margin:0 auto;}
.login_left{float: left;width:40%;height:100vh;min-height:800px;padding-right:70px;padding-left:20px;   background: #fff;transition:all 0.5s ease;}
.login_left_box{position: relative;width:100%; max-width:380px;float: right;top: 50%;transform: translateY(-50%);}
.login_right{float: right;width:60%;height:100vh;min-height:800px;padding-left:70px;padding-right:20px; background-image:url(../images/main/login_bg01.png), url(../images/main/main_bg02.png);background-position:left top,center bottom; background-repeat:no-repeat;transition:all 0.5s ease;}
.login_right_box{position: relative;max-width:757px;  top: 50%;transform: translateY(-50%);}
.login_pc_show{display: block;}
.login_mob_show{display: none;}

/* 로그인 로고*/
.logo_top_wrap{ clear: both;overflow: hidden;padding-bottom:22px;}
.logo_top_wrap h1{}
.logo_top_wrap h1 a{display:inline-block;vertical-align: middle; width:170px;height:34px;background: url("../images/common/logo.png") no-repeat 0 0 ;text-indent: -9999em;}
.logo_top_wrap h1 span{display:inline-block; padding-left:10px; font-size: 18px;line-height:34px; font-weight: 900;color:#009bcb;}
.logo_top_wrap h1 span em{font-weight:300;padding-right:5px;}

/* 로그인 로고*/
.login_box01{}
.login_box01 li{display: block;padding-top:20px;}
.login_box01 li:first-child{padding-top:0;}
.login_box01 li dl dt{clear: both;overflow: hidden;padding-bottom:15px;}
.login_box01 li dl dt label{float: left;font-weight:400;font-size: 14px;color:#333333;}
.login_box01 li dl dt .link_btn{float: right;font-weight:300;font-size: 14px;color:#999999;} 
.login_box01 li dl dd input{width:100%;height:45px;line-height: 45px;padding-left:23px;color:#111;border-radius:3px;}
.login_box01 li dl dd input::placeholder {color: #ccc;opacity:0.7;}
.login_box01 li dl dd input::-webkit-input-placeholder{color: #ccc;opacity:0.7;}
.login_box01 li dl dd input:-ms-input-placeholder {color: #ccc;opacity:0.7;}
.login_box01 .checkbox{}
.login_box01 .checkbox {display: flex;cursor: pointer;position: relative;overflow: hidden;padding-bottom:32px;padding-top:3px;}
.login_box01 .checkbox input{position: absolute;top: 2px;width:14px;height:14px;}
.login_box01 .checkbox span{display: flex;transition: 0.25s ease;position: relative;font-size: 14px;}
.login_box01 .checkbox span:before{ position: relative; display: block;margin-top:-2px; align-self: center;  height: 18px;width: 18px;margin-right:5px;content: ''; cursor: pointer;background:url("../images/main/checkbox_icon.png") no-repeat 0 0;}
.login_box01 .checkbox input:checked + span:before{background:url("../images/main/checkbox_icon_on.png") no-repeat 0 0;}

/* 로그인 버튼  */
.login_btn_w{padding-bottom:15px;}
.login_btn_w .btn_login{width:100%;color:#fff;height:83px;line-height:81px; font-size:24px;font-weight:500; text-align:center; background:#009bcb;border:1px solid #009bcb;border-radius:3px;}
.login_btn_w .btn_login span{line-height:normal; display: inline-block;padding:8px 0 10px 55px;background:url("../images/main/login_icon03.png") no-repeat 0 0;}
.login_btn_w .btn_login2{margin-top:21px; width:100%;color:#234568;height:83px;line-height:81px; font-size:18px;font-weight:500; text-align:center; background:#e3f2f2;border:1px solid #e3f2f2;border-radius:3px;}
.login_btn_w .btn_login2 span{line-height:normal; display: inline-block;padding:10px 50px;background:url("../images/main/login_icon07.png") no-repeat left center, url("../images/main/login_icon10.png") no-repeat right center; background-size:35px, auto;}
.login_btn_w .text_01{text-align: right;padding-top:10px;}
.login_btn_w .text_01 a{display: inline-block;padding-bottom:5px;color:#111;font-size:14px; border-bottom: 1px solid #7c7f88;}
.login_btn_w .text_02{text-align: center;padding-top:20px;}
.login_btn_w .text_02 span{display:inline-block; height:50px;padding-left:50px;line-height:50px;font-size:14px;color:#111; background:url("../images/main/login_icon01.png") no-repeat 0 center;}

.login_btn_w .text_03{clear: both;overflow: hidden;padding:20px 0;border-bottom:1px solid #e2e2e2;}
.login_btn_w .text_03 li{width:50%;float: left;}
.login_btn_w .text_03 li div{display: inline-block;text-align: left;padding-top:5px;}
.login_btn_w .text_03 li div .text01{padding-bottom:10px; font-size: 16px;font-weight: 500;color:#234568;}
.login_btn_w .text_03 li div .text02{display:inline-block;padding-bottom:5px; font-size: 14px;font-weight: 300;color:#999999; border-bottom:1px solid #b5b5b5;}
.login_btn_w .text_03 + .text_03 li div .text01 {color:#603979;}
.login_btn_w .text_03 li div.bg01{padding-left:66px;background:url("../images/main/login_icon05.png") no-repeat 10px center;}
.login_btn_w .text_03 li div.bg02{padding-left:75px;background:url("../images/main/login_icon12.png") no-repeat 16px center;}
.login_btn_w .text_03 li div.bg03{padding-left:66px;background:url("../images/main/login_icon11.png") no-repeat 14px center;}
.login_btn_w .text_03 li div.bg04{padding-left:75px;background:url("../images/main/timetable.png") no-repeat 11px center;}

.login_btn_w .text_04{text-align: left;padding-top:15px;}
.login_btn_w .text_04 span{display:inline-block;padding:7px 0 7px 33px;font-size:14px;color:#131d36; background:url("../images/main/login_icon04.png") no-repeat 3px center;}




.login_link_w{border:1px solid #e2e2e2;border-radius:3px; clear: both;overflow: hidden;background: #fff;}
.login_link_w li{display:block;float:left; height:43px;line-height: 43px;}
.login_link_w li a{display: block;width:100%;height:100%;font-size:14px; text-align: center;}
.login_link_w li.login_link1{width:32.5%;}
.login_link_w li.login_link2{width:27.5%;}
.login_link_w li.login_link2 a{border-left:1px solid #e2e2e2;}
.login_link_w li.login_link3{width:13.33%;}
.login_link_w li.login_link4{width:13.33%;}
.login_link_w li.login_link5{width:13.33%;}
.login_link_w li.login_link3 a{border-left:1px solid #e2e2e2;background:url("../images/main/sns_icon01.png") no-repeat center center;text-indent: -9999em;}
.login_link_w li.login_link4 a{border-left:1px solid #e2e2e2;background:url("../images/main/youtube_dark_n.png") no-repeat center center;text-indent: -9999em;}
.login_link_w li.login_link5 a{border-left:1px solid #e2e2e2;background:url("../images/main/sns_icon03.png") no-repeat center center;text-indent: -9999em;}

/* 사이트정보 */
.login_text01{padding-top:15px;font-size: 14px;color:#999999;line-height: 1.5em; text-align:center;}
.login_text01 p{letter-spacing: -0.5px;}
.login_text01 p + p{letter-spacing: -0.7px; padding-bottom:15px;border-bottom:1px solid #e2e2e2;}
.login_text02{padding-top:15px;font-size: 14px;color:#727272;letter-spacing: -0.5px; text-align:center;}
.login_text02 a{display:inline-block;margin-left:15px; padding-left:28px;color:#727272; background:url("../images/main/login_icon02.png") no-repeat 0 center;}

/* 로그인 공지사항 자주찾는메뉴*/

/* 로그인 바로가기메뉴 */
.login_r_box02{width:100%;max-width:640px;margin:0 auto; padding-top: 32px;}
.login_r_box02 .link_w{text-align: center;}
.login_r_box02 .btn_link{display:inline-block;padding:12px 20px 12px 34px;width:100%;font-size:14px; color:#111;background: #f4f7fa;font-weight: 400;border-radius:26px;border:2px solid #111111;}
.login_r_box02 .btn_link .text01{float: left;padding-top: 5px;}
.login_r_box02 .btn_link .text02{float: right;font-size:24px;color:#111; padding-right:25px;font-weight: 700;background:url("../images/main/select_icon02.png") no-repeat right center; }

/* 로그인 타사이트 링크 */
.login_r_box03{width:100%;padding-top:30px;clear: both;overflow: hidden;}
.login_r_box03 ul{text-align: center;}
.login_r_box03 ul li{display: inline-block;padding-left:30px;transition:all 0.5s ease;}
.login_r_box03 ul li:first-child{padding-left:0;}
.login_r_box03 ul li a{display: inline-block;height:30px;line-height:30px; color:#333;font-weight:500;font-size: 14px;}
.login_r_box03 ul li a.bg01{padding-left:40px; background:url("../images/main/link_icon05.png") no-repeat 0 center;}
.login_r_box03 ul li a.bg02{padding-left:40px; background:url("../images/main/link_icon06.png") no-repeat 0 center;}
.login_r_box03 ul li a.bg03{padding-left:40px; background:url("../images/main/link_icon07.png") no-repeat 0 center;}
.login_r_box03 ul li a.bg04{padding-left:40px; background:url("../images/main/link_icon08.png") no-repeat 0 center;}


/* 로그인 바로가기메뉴_new */
.login_r_box04{}
.login_r_box04 ul{clear: both;overflow: hidden;}
.login_r_box04 ul li{position:relative; display: block;border-radius:10px;}
.login_r_box04 ul li a{display:block; height:110px;width:100%;padding:30px 95px 10px 50px;}
.login_r_box04 ul li a:after{position:absolute;top:50%;right:22px; margin-top:-8px; display: inline-block;width:9px;height:16px;content: "";background:url("../images/main/login_icon09.png") no-repeat center center;}
.login_r_box04 ul li .text01{font-size: 16px;font-weight: 700;padding-bottom:12px;}
.login_r_box04 ul li .text02{font-size: 14px; font-weight: 300;line-height: 1.2em;}

.login_r_box04 ul li.bg01{width:49%;float: left;background: #f2f4eb;}
.login_r_box04 ul li.bg01 a{background:url("../images/main/login_icon07.png") no-repeat right 47px center;}
.login_r_box04 ul li.bg01 .text01{color:#7f8861;}
.login_r_box04 ul li.bg01 .text02{color:#a6ac93;}
.login_r_box04 ul li.bg02{width:48%;float: right;background: #ebf1f4;}
.login_r_box04 ul li.bg02 .text01{color:#5a7582;}
.login_r_box04 ul li.bg02 .text02{color:#99a1a5;}
.login_r_box04 ul li.bg02 a{background:url("../images/main/login_icon08.png") no-repeat right 47px center;}








/* 수강신청 로그인 */
.login_enrolment_w{height:100vh;min-height:800px; position:relative; background:#ebf5f8 url("../images/main/login_e_bg01.jpg") no-repeat center bottom;}
.login_enrolment_w .login_e_wrap{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);padding:42px  54px 30px 54px;  max-width:510px;width:100%; box-shadow: 0px 0px 20px #cfe0e8;background: #fff;border-radius: 10px;}
.login_e_wrap .text01{padding-top:70px;line-height:1.1em; font-size: 37px;font-weight: 300;color:#009bcb;letter-spacing: -1px;text-align: center;background:url("../images/main/login_e_icon01.png") no-repeat center top;}
.login_e_wrap .text01 strong {color:#006794;font-weight: 700;}
.login_e_wrap .text02{padding-top:15px;}
.login_e_wrap .text02 li{padding-top: 14px;}
.login_e_wrap .text02 li:first-child{padding-top:0;}
.login_e_wrap input[type="text"],
.login_e_wrap input[type="password"] {width:100%;height:55px;line-height:53px;padding:0 25px;font-size:16px; color:#657f91; border:1px solid #cfe0e8;background: #f4f9fa;border-radius: 5px;}
.login_e_wrap input::-webkit-placeholder{color:#657f91;}
.login_e_wrap input::-moz-placeholder{color:#657f91;opacity:1}
.login_e_wrap input::-ms-placeholder{color:#657f91;}
.login_e_wrap input::placeholder{color:#657f91;}
.login_e_wrap .text03{padding-top:14px;clear: both;overflow: hidden;}
.login_e_wrap .text03 .login_btn{display:block; width:100%;height:60px;line-height:60px;color:#fff;text-align: center;font-size: 16px;font-weight: 700;background:#009bcb;border-radius:5px;}
.login_e_wrap .text03 .login_btn2{float:right; display: inline-block;margin-top:15px; border-bottom: 1px solid #949494;color:#333333;line-height: 1.4em;}


.login_e_wrap .text04{padding-top:20px;padding-bottom:20px;line-height: 1.4em;color:#333333;font-size: 14px;font-weight: 300;}
.login_e_wrap .text04 li{padding-left:18px;text-indent: -18px;padding-top:5px;}
.login_e_wrap .text04 .col_red{color:#e85347;}



.login_e_wrap .text05{padding-top:20px;border-top:1px solid #cfe0e8;clear: both;overflow: hidden;}
.login_e_wrap .text05 .tel_btn{display: block;float: left;}
.login_e_wrap .text05 .tel_btn span{display:inline-block;font-size:14px;font-weight:500; padding:10px 0 10px 40px; background:url("../images/main/login_e_icon03.png") no-repeat 6px center;}
.login_e_wrap .text05 .home_btn{display: block;float: right;width:143px;height:29px;margin:0 auto; background:url("../images/main/login_e_icon02.png") no-repeat center center;text-indent: -9999em;}














@media only screen and (min-width:1600px){
	.login_left{padding-right: 100px;}
	.login_right{padding-left: 100px;}
}

@media only screen and (max-width:1280px){
	.top_box .top_user{display: none;}
	.main_left{width:340px;}
	.main_box01_con{padding-right:0;}
	.main_box09_con{width:100%;}
	.main_right{width: calc(100% - 340px);padding-right:0;}
	.main_box04{padding:0 30px;}
	.main_box03 .box_top,
	.main_box10 .box_top {width:100%;}
	.main_box10 ul li .text01 {font-size:15px;}
	.login_left{width:37%; padding-right:20px;}
	.login_right{width:63%; padding-left:20px;}
	.login_text02 {font-size:13px;}
	.login_text02 a{margin-left:10px; padding-left:22px; background-size: auto 12px;}
	.main_box09 .access_text,
	.main_box01 .access_text{font-size:12px; padding-left:60px;}
	
	.main_box01_con_w iframe{width: 100%;}
	.main_box09_con_w iframe{width: 100%;}
	
	
}

@media only screen and (max-width:1024px){
	.pc_br{display: none;}
	.top_box {display: none;}
	.gnb{display: none;}
	.main_container > iframe {min-height:auto;}
/* 	.top_wrap h1 a{width:156px; background: url(../images/common/logo_m.png) no-repeat 0 center;background-size:auto 29px;}
	.top_wrap h1 span{padding-left:0;} */
	.mob_menu{position:absolute;top:0;right:0; width:68px;height:68px; display: block; background: url(../images/common/menu_icon_m.png) no-repeat center center;background-size:auto 20px;text-indent: -9999em;}
	/* body.main{overflow:hidden;} */
	.main_container{height: calc(100vh - 69px); /*overflow-y:visible;*/ }
	.main_bg {height:auto; padding-bottom:200px; background: #f4f9fa url("../images/main/main_bg03.jpg") no-repeat center  bottom;background-size:contain;}
	.main_wrap{padding-top:40px;padding-left:15px;padding-right:15px;overflow: hidden;}
	.main_left{width:100%;}
	.main_right{width:100%;padding-top:40px;}
	.main_box01 .box_top{width:100%;padding-right:20px;}
	.main_box02{padding-left:0;}
	.main_box02 .box_top{width:100%;padding:0 20px 20px 20px;}
	.main_box02_s{padding-left:0;}
	.main_box02_s .box_top{width:100%;padding:0 20px 20px 20px;}
	.main_box03{padding-top:20px;}
	.main_box03 .box_top{width:100%;padding-top: 0;padding-bottom: 20px;padding-right:20px;}
	.tab_box01{padding:0 0 0 0;}
	.tab_type li a{font-size: 24px;}
	.tab_box02{padding-bottom:30px;}
	.tab_box02 .swiper-pagination{padding-top:15px;}
	.tab_box02 .swiper-container{width:calc(100% - 60px);margin: 30px 30px 0 30px;}
	.main_box07{display: none;}
	.m_main_box07{display:block; width:100%;text-align: center;padding-top:34px;line-height: 1.5em;font-size:14px;color:#666666;letter-spacing: -0.5px;}
	.tab_cont.on{height: auto;}
	.main_box04{padding:0;}
	.tab_cont .text_{padding-right:0;}

	.main_box01 .link_btn {float:right; margin-left:0;}
	.main_box01 .access_text,
	.main_box09 .access_text{padding-left:20px;}
	
	.main_box03{padding-left:0;}
	.main_box10{margin-top:10px; padding:0;}
	.main_box10 ul li {padding:20px 40px 20px 20px;}
	.main_box10 ul li a {display:flex; align-items:center; justify-content:space-between; padding:10px 0 10px 60px;}
	.main_box10 ul li a.bg01 {background-position:left center;}
	.main_box10 ul li a.bg02 {background-position:left center;}
	.main_box10 ul li a.bg03 {background-position:7px center;}
	.main_box10 ul li a.bg04 {background-position:left center;}
	.main_box10 ul li a.bg05 {background-position:3px center;}
	.main_box10 ul li .text01 {padding:0;}
	

	
	/*로그인*/
	.login{height:auto;}
	.login_left{ padding-top:25px; width:100%;height: auto;min-height: auto;}
	.login_right{width:100%;height: auto;min-height: auto;padding-top:50px;padding-bottom:175px;background: #f4f9fa url(../images/main/main_bg_m.jpg) no-repeat center bottom -40px;background-size: auto 300px;}
	.login_left_box,
	.login_right_box{max-width: none;top:auto;transform: none;}
	.logo_top_wrap{text-align: center;padding-bottom:20px; border-bottom:1px solid #e7eaed;}
	.logo_top_wrap h1{display: inline-block;}
	.logo_top_wrap h1 a{width:130px; background: url(../images/common/logo_m.png) no-repeat 0 center;background-size:auto 29px;}
	.logo_top_wrap h1 span{padding-left:0;}
	.login_box01{padding-top:30px;}
	.login_pc_show{display: none;}
	.login_mob_show{display: block;}
	.login_btn_w .text_01{padding-bottom:40px;border-bottom:1px solid #e7eaed;}
	.login_text01 p{text-align: center;}
	.login_text01{width:100%;line-height: 1.8em; padding-left:0;}
	.login_text02{width:100%;text-align: center;padding-left:0;}
	.login_r_box03 ul li{width:50%;float: left;display: block;padding:20px 0;}
	.login_r_box03 ul li:first-child{border-bottom:1px solid #e7eef0;}
	.login_r_box03 ul li:nth-child(2){border-bottom:1px solid #e7eef0;}
	.login_r_box03 ul li a{display: inline-block;width:100%;text-align: left;}
	.login_r_box02 .btn_link{height:auto;min-height:52px;padding: 12px 20px 12px 20px;}
	.login_r_box02 .btn_link .text01{text-align:left;line-height: 1.4em;padding-top:2px;}
	.login_text01 p + p{padding-bottom: 15px;}
	.login_text02 a{background: url(../images/main/login_icon02_m.png) no-repeat 0 center; background-size: auto 14px;}
	.login_r_box01 .tab_box02 .swiper-container{width:100%;}
	
	
	
	
}
@media only screen and (max-width:756px){
	.top_wrap{padding-right:0;}
	.top_wrap h1{left:10px;top:20px;}
	.top_wrap h1 span{font-size:16px;line-height: 29px;}
	.main_box01 .main_title{padding-left:20px;font-size:18px;}
	.main_box01 .main_title span{padding-left: 50px;background: url(../images/main/main_icon01_m.png) no-repeat 0 0;background-size: auto 29px;}
	.main_box02 .main_title{font-size:18px; }
	.main_box02 .main_title span{background: url(../images/main/main_icon02_m.png) no-repeat 0 0;background-size:auto 26px;}
	.main_box03 .main_title{padding-top: 5px;font-size:18px;background: url(../images/main/main_icon03_m.png) no-repeat 0 0;background-size:auto 42px;}
	.main_box03 .main_title .text02{font-size: 14px;}
	.main_box01_con{background: url(../images/main/main_icon04_m.png) no-repeat 0 65px;background-size: auto 110px;}
	.main_box01_con li dl dt{width:90px;}
	.main_box01_con li dl dd{width: calc(100% - 90px);}
	.tab_type li{padding:0;}
	.tab_type li + li{margin-left:30px;}
	.tab_type li a{display: inline-block;padding-bottom:10px;}
	.tab_box01 li{width:100%;}
	.tab_box01 .li01 .link01{width:100%; padding-right:0;}
	.tab_box01 .li01 .link02{width:100%; margin-top:20px;}
	.tab_box01 .li01 .link02 .title_ + .title_ {margin-top:20px; margin-left:0;}
	.tab_box01 .li01 .link_list {padding-left:0;}
	.tab_box01 .li01 .icon03 + .link_list {padding-left:0;}
	
	.tab_box01 .title_{width:100%;margin-top:0;}
	
	.tab_box01 .icon01{height: 35px;padding-left:54px;background: url(../images/main/notice_icon01_m.png) no-repeat 0 0;background-size: auto 35px}
	.tab_box01 .li01 .title_ span {display:inline-block; padding-top:8px;}
	
	.tab_box01 .li01 .title_{margin-top:0;}
	.tab_box01 .link_btn{float: right;padding-top:8px;}
	.tab_box01 .li01 .link01 .link_list,
	.tab_box01 .li01 .link02 .link_list{width:100%;padding-top:20px;text-align: center;}
	.tab_box01 .li01 .link_list a{float:none; display: inline-block;margin:2px 1px;}
	.tab_box01 .li02 {padding:20px;}
	.tab_box01 .li02 .link02{float:left; width:50%;padding:10px 0 10px 0;}
	.tab_box01 .li02 .notice_list{width:100%;padding-top:10px;}
	
	
	.tab_box01 .icon02{height:35px; padding-left:48px;background: url(../images/main/notice_icon02_m.png) no-repeat 0 center;background-size:30px;}
	.tab_box01 .icon03{padding:20px 0 20px 50px;background: url(../images/main/notice_icon03_m.png) no-repeat 0 center;background-size: auto 35px}
	.tab_box01 .icon04{padding:20px 0 20px 50px;background: url(../images/main/notice_icon04.png) no-repeat 0 center;background-size: auto}
	.tab_box01 .icon05{height:35px; padding-left:48px;background: url(../images/main/notice_icon05.png) no-repeat 0 center;background-size: auto}
	.tab_box02 .swiper-slide .bookbtn_{margin-top:0;height:90px;}
	.tab_box02 .swiper-slide .bookbtn_ span{display: block;text-align: center;padding-top:60px;}
	.tab_box02 .swiper-slide .bookbtn_.bg01 span{background:url("../images/main/bookmark_icon01_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg02 span{background:url("../images/main/bookmark_icon02_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg03 span{background:url("../images/main/bookmark_icon03_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg04 span{background:url("../images/main/bookmark_icon04_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg05 span{background:url("../images/main/bookmark_icon05_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg06 span{background:url("../images/main/bookmark_icon06_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg07 span{background:url("../images/main/bookmark_icon07_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg08 span{background:url("../images/main/bookmark_icon08_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg09 span{background:url("../images/main/bookmark_icon09_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg10 span{background:url("../images/main/bookmark_icon10_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg11 span{background:url("../images/main/bookmark_icon11_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg12 span{background:url("../images/main/bookmark_icon12_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg13 span{background:url("../images/main/bookmark_icon13_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg14 span{background:url("../images/main/bookmark_icon14_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg15 span{background:url("../images/main/bookmark_icon15_m.png") no-repeat center 0;background-size: auto 40px}
	.tab_box02 .swiper-slide .bookbtn_.bg16 span{background:url("../images/main/bookmark_icon16_m.png") no-repeat center 0;background-size: auto 48px}	
	.tab_box02 .swiper-slide .bookbtn_.bg17 span{background:url("../images/main/bookmark_icon17_m.png") no-repeat center 0;background-size: auto 40px}	
	.tab_box02 .swiper-slide .bookbtn_.bg18 span{background:url("../images/main/bookmark_icon18_m.png") no-repeat center 0;background-size: auto 40px}	
	.tab_box02 .swiper-slide .bookbtn_.bg19 span{background:url("../images/main/bookmark_icon19_m.png") no-repeat center 0;background-size: auto 40px}	
	.tab_box02 .swiper-slide .bookbtn_.bg20 span{background:url("../images/main/bookmark_icon20_m.png") no-repeat center 0;background-size: auto 40px}	
	.login_r_box01 .tab_box02 .swiper-slide .bookbtn_{margin-top:0;height:90px;}
	.login_r_box01 .tab_box02 .swiper-slide .bookbtn_ span{display: block;text-align: center;padding-top:60px;}	
	.main_box03 .main_title p {padding-left:50px;}
	.main_box05{padding-top:40px;}
	.main_box05 .link_w{padding:0 0;}
	.main_box05 .link_w select{margin:5px 0;height:46px;line-height:42px;font-size: 14px;}
	.main_box05 .link_w .link_select1{width:100%;}
	.main_box05 .link_w .link_select2{width:100%;}
	.main_box05 .btn_link{width:100%;margin:5px 0;height: 46px;line-height: 46px;}
	.main_box08{padding-top:40px;}
	.main_box08 .link_w{padding:0 0;}
	.main_box08 .link_w .title_{height:30px;line-height: 30px;margin-top:0;margin-bottom:20px;}
	.main_box08 .link_w select{margin:5px 0;height:46px;line-height:42px;font-size: 14px;}
	.main_box08 .link_w .link_select1{width:100%;}
	.main_box08 .link_w .link_select2{width:100%;}
	.main_box08 .btn_link{width:100%;margin:5px 0;height: 46px;line-height: 46px;}
	.main_box08 .link_w .title_ .pc_br_{display: none;}
	.main_box06 ul li{padding-left:10px;}
	.main_box06 ul li:before{margin-right:10px;}
	.main_box06 ul li a.bg01{padding-left:30px; background:url("../images/main/link_icon01_m.png") no-repeat 0 center;background-size: auto 25px;}
	.main_box06 ul li a.bg02{padding-left:35px; background:url("../images/main/link_icon02_m.png") no-repeat 0 center;background-size: auto 20px;}
	.main_box06 ul li a.bg03{padding-left:35px; background:url("../images/main/link_icon03_m.png") no-repeat 0 center;background-size: auto 20px;}
	
	.main_box10 ul li{padding:20px;}
	
	/*로그인*/
	
	.logo_top_wrap h1 span{font-size: 16px;}
	.login_box01 li{padding-top:30px;}
	.login_box01 li:last-child{padding-top:15px;}
	.login_link_w li.login_link3 a{border-left:1px solid #e2e2e2;background:url("../images/main/sns_icon01_m.png") no-repeat center center;text-indent: -9999em;background-size: auto 20px;}
	.login_link_w li.login_link4 a{border-left:1px solid #e2e2e2;background:url("../images/main/youtube_dark_n.png") no-repeat center center;text-indent: -9999em;background-size: auto 15px;}
	.login_link_w li.login_link5 a{border-left:1px solid #e2e2e2;background:url("../images/main/sns_icon03_m.png") no-repeat center center;text-indent: -9999em;background-size: auto 22px;}
	.login_r_box03 ul li a.bg01{padding-left:36px; background:url("../images/main/link_icon05_m.png") no-repeat 0 center;background-size: auto 24px;}
	.login_r_box03 ul li a.bg02{padding-left:36px; background:url("../images/main/link_icon06_m.png") no-repeat 0 center;background-size: auto 24px;}
	.login_r_box03 ul li a.bg03{padding-left:36px; background:url("../images/main/link_icon07_m.png") no-repeat 0 center;background-size: auto 24px;}
	.login_r_box03 ul li a.bg04{padding-left:36px; background:url("../images/main/link_icon08_m.png") no-repeat 0 center;background-size: auto 24px;}
	.login_btn_w .text_02 span{background: url(../images/main/login_icon01_m.png) no-repeat 0 center;background-size: auto 45px;}
	.login_link_w li{line-height: 1.2em;}
	.login_link_w li a span{display: table;height:100%;width:100%;}
	.login_link_w li a span em{display: table-cell;vertical-align: middle;}
	
	
	
	
	
	/*수강신청 로그인 */
	.login_enrolment_w{height: 100vh;min-height: auto;background-size:120% auto;}
	.login_enrolment_w .login_e_wrap{max-width: none;width:calc(100% - 30px);padding:20px 15px 10px 15px;}
	.login_e_wrap .text01{font-size: 30px;}
	.login_e_wrap input[type="text"], 
	.login_e_wrap input[type="password"]{height:45px;line-height:43px;font-size: 15px;}
	.login_e_wrap .text03 a.login_btn{height: 50px;line-height: 50px;}
	.login_e_wrap .text05{text-align: center;padding-top:10px;}
	.login_e_wrap .text05 .tel_btn{display: inline-block;float: none;margin:10px;}
	.login_e_wrap .text05 .home_btn{display: inline-block;float: none;margin:10px;}
	.login_r_box04 ul li.bg01{width:100%;float: none;}
	.login_r_box04 ul li.bg02{width:100%;float: none;margin-top:20px;}
	.login_r_box04 ul li a{padding-left:20px;}
	
	
	
	
	
}

@media only screen and (max-width:600px){
	.main_box10 ul li {padding:10px;}
	.main_box10 ul li a {display:block; text-align:center; padding:10px 0 10px 45px;}
	.main_box10 ul li a .text02 {margin-top:6px;}
}

@media only screen and (max-width:480px){
	.tab_box01 .title_{width:100%;}
	.tab_box01 .title_ span{display: inline-block;}
	.tab_box01 .li02 .link02{width:100%;border-bottom:1px solid #f4f9fa;}
	.tab_box01 .li02 .link03{width:100%;padding-left:0;}
	.login_text02 {font-size:12px;}
	.login_text02 a {background-size:auto 12px; padding-left:20px; margin-left:10px;}
}

@media only screen and (max-width:380px){
	.login_btn_w .text_03 li div .text01{font-size:14px;}
}

@media only screen and (max-width:360px){
	.top_wrap h1 span{display: none;}
}

